#button{
    position: absolute;
    left: 80%;
    
    background-color: #000000;
    color: #FFFFFF;
  /* float: right;   Tambien se puede usar para mover el botton a la derecha*/
    padding: 10px;
    border-radius: 10px;
}
.formulario{
  background-color: antiquewhite;
  width: 15%;
  position: absolute;
  top: 30%;
  left: 40%;
  padding: 15px;
}
.form_input{
  margin-bottom: 5px;
}