html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#gris{
    display: none;
    position: fixed;
    background-color: rgba(63, 63, 63, 0.8);
    height: 100%;
    width: 100%;
    z-index: 1;
    margin: 0%;
}
.header {
    border: solid 1px black;
    height: 150px;
    width: 100%;

}
.menu_button img{
    height: 50px;
    width: auto;
}
.menu_button{
    height: 50px;
    width: auto;
}
.barra_lateral {
    border: solid 2px magenta;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 80%;
    bottom: 0;
    background-color: #f1f1f1;
    width: 20%;
    height: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

#imagen_portada {
    height: 1000px;
    border: solid 7px purple;
}

.overview_image {
    margin-top: 15px;
    border: solid 10px red;
    height: fit-content;
    width: max-content;
}

.overview_image img {}

.inscripciones {
    border: solid 1px black;
    border-radius: 5px;
    height: 120px;
    width: 100%;
    margin-top: 10px;


}

.menu {

    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    outline: none;
}

#overview {
    display: grid;
    grid-template-areas:
        "a b c";
    margin-top: 10px;
    height: 700px;
    width: 100%;
}

.info_overview {
    border: solid 2px red;
    margin: 50px;
    width: 70%;
}

.info_overview h2 {
    text-align: center;
}

.info_overview img {
    height: 75%;
    width: 90%;
    position: relative;
    left: 5%;
    right: 5%;
}

.galeria {
    border: solid 2px magenta;
    display: none;
    position: fixed;
    top: 3%;
    left: 3%;
    right: 3%;
    bottom: 3%;
    background-color: #f1f1f1;
    width: 94%;
    height: 94%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.galeria_button {
    margin: 50px;
    width: 10%;
}
#exit_galeria{
    height: fit-content;
    width: fit-content;
    border: none;
}

#exit_galeria img{
    margin-top: 50%;
    margin-left: 50%;
    height: 20px;
    width: 20px;
}

.leer_mas {
    position: relative;
    right: auto;
    width: 100%;
    height: 12.8%;

}

.leer_mas a {
    transition: all 0.5s;
}

.container {
    position: relative;
    height: 795px;
    width: 88%;
    left: 6%;
    right: 6%;
    border: solid 2px red;
}

.container img {
    height: 30%;
    width: auto;
}

.mas_info {
    display: grid;
    grid-template-columns: 35% 65%;
    border: solid 1px black;
    width: 100%;
    height: 20%;
}

.buscador-form {
    position: absolute;
    top: 3%;
    left: 48%;
    border-radius: 40px;
    border: solid 1px black;
    padding-right: 3px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.buscador-form:hover>.buscador-form_txt {
    width: 100px;
    padding: 0 6px;
}

.buscador-form_txt {
    border: none;
    width: 100px;
    outline: none;
    height: 40px;
    padding: 0;
    float: left;
    padding: 0;
    font-size: 16px;
    transition: 0.4;
    line-height: 40px;


}

.buscador-form_btn {
    border: none;
    color: black;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: white;
}

iframe {
    width: 100%;
    height: 100%;
}